<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="auth(actionName, btnSubmitName)">
        <form th:action="${actionName}" method="post">
            <input type="hidden" name="id" th:value="${id}"/>
            <div class="form-group row" th:if="${message != null}">
                <div class="col-sm-5">
                    <div th:class="'alert alert-' +${messageType}" role="alert">
                        <span th:text="${message}"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row" >
                <div class="col-sm-5">
                    <input th:class="'form-control ' + ${usernameError != null ? 'is-invalid' : ''}"
                           type="text"
                           th:name="username"
                           name="username"
                           th:value="${user?.username}"
                           placeholder="Użytkownik"/>
                    <div th:if="${usernameError}" class="invalid-feedback" th:text="${usernameError}"></div>
                </div>
            </div>
            <div class="form-group row" th:if="${actionName == '/registration' || actionName == '/user/profile'}">
                <div class="col-sm-5">
                    <input th:class="'form-control ' + ${emailError != null ? 'is-invalid' : ''}"
                           type="email"
                           th:name="email"
                           name="email"
                           th:value="${user?.email}"
                           placeholder="Email"/>
                    <div th:if="${emailError}" class="invalid-feedback" th:text="${emailError}"></div>
                </div>
            </div>
            <div class="form-group row" th:if="${actionName == '/user/profile'}">
                <div class="col-sm-5">
                    <input class="form-control" type="password" name="oldPassword"  placeholder="Stare hasło"/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <input th:class="'form-control ' + ${passwordError != null ? 'is-invalid' : ''}"
                           type="password"
                           th:name="password"
                           name="password"
                           th:value="${user?.password}"
                           th:placeholder="${actionName == '/user/profile'  ? 'Nowe hasło' : 'Hasło'}"/>
                    <div th:if="${passwordError}" class="invalid-feedback" th:text="${passwordError}"></div>
                </div>
            </div>
            <div class="form-group row" th:if="${actionName == '/registration' || actionName == '/user/profile'}">
                <div class="col-sm-5">
                    <input th:class="'form-control ' + ${passwordConfirmError != null ? 'is-invalid' : ''}"
                           type="password"
                           th:name="passwordConfirm"
                           name="passwordConfirm"
                           th:value="${user?.passwordConfirm}"
                           placeholder="Powtórz hasło"/>
                    <div th:if="${passwordConfirmError}" class="invalid-feedback" th:text="${passwordConfirmError}"></div>
                </div>
            </div>
            <div th:if="${actionName == '/registration'}">
                <div class="g-recaptcha" data-sitekey="6Lcl-ecUAAAAACUFy01i4bd3N1jPEasnH36bP0-b"></div>
            </div>
            <button class="btn btn-primary" type="submit" th:text="${btnSubmitName}"/>
        </form>
    </th:block>
</body>
</html>
