<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}"/>

<th:block th:if="${false}" th:fragment="content">
    <div class="form-row">
        <div class="form-group ml-1">
            <form class="form-inline" method="get" th:action="@{/home}">
                <div class="form-group mr-2">
                    <input  class="form-control" name="filter" placeholder="tag" th:value="${filter}"/>
                </div>
                <div class="form-group mr-4">
                    <button class="btn btn-primary" type="submit">Wyszukaj</button>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Utwórz wiadomość
                    </a>
                </div>
            </form>
        </div>
    </div>

    <div th:class="'collapse ' + ${textError != null ? 'show' : ''}" id="collapseExample">
        <!--/*@thymesVar id="textError" type=""*/-->
        <!--/*@thymesVar id="tagError" type=""*/-->
        <div class="form-group">
            <form method="post" th:action="@{/createmessage}" enctype="multipart/form-data">
                <div class="form-group">
                    <input th:class="'form-control ' + ${textError != null ? 'is-invalid' : ''}"
                           th:value="${message?.text}"
                           name="text"
                           placeholder="Wpisz treść wiadomości"/>
                    <div th:if="${textError}" class="invalid-feedback" th:text="${textError}"></div>
                </div>
                <div class="form-group">
                    <input th:class="'form-control ' + ${tagError != null ? 'is-invalid' : ''}"
                           th:value="${message?.tag}"
                           name="tag"
                           placeholder="Tagi"/>
                    <div th:if="${tagError}" class="invalid-feedback" th:text="${tagError}"></div>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" name="file" id="customFile"/>
                        <label class="custom-file-label" for="customFile">Dołącz obrazek</label>
                    </div>

                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Dodaj</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-columns">
        <th:block th:each="msg: ${messages}">
            <div class="card my-3">
                <th:block th:if="${msg.filename}">
                    <img class="card-img-top" alt="image" th:src="${'/img/'+msg.filename}" />
                </th:block>
                <div class="m-2">
                    <span th:text="${msg.text}"></span>
                    <i th:text="${msg.tag}"></i>
                </div>

                <div class="card-footer text-muted">
                    <th:block th:text="${msg.authorName}" />
                </div>
            </div>
        </th:block>
    </div>
</th:block>

<body th:include="~{index :: body('home')}" />
</html>