<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{index :: head}"/>

<th:block th:if="${false}" th:fragment="content">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div>
        <th:block th:insert="~{fragments/form :: auth('/login', 'Zaloguj')}" />
        <a href="/registration"> Dodaj użytkownika</a>
    </div>
</th:block>

<body th:include="~{index :: body('login')}" />
</html>