<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}"/>

<th:block th:if="${false}" th:fragment="content">
    <th:block th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        <div class="form-group row">
            <div class="col-sm-5">
                <div class="alert alert-danger" role="alert">
                    <span th:text="${errorMsg}"></span>
                </div>
            </div>
        </div>
    </th:block>

    <div>
        <th:block th:insert="~{fragments/form :: auth('/login', 'Zaloguj')}" />
        <a href="/registration"> Dodaj użytkownika</a>
    </div>
</th:block>

<body th:include="~{index :: body('login')}" />
</html>