<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}"/>

<th:block th:if="${false}" th:fragment="content">
    <div>Lista użytkowników</div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}" />
            <td th:text="${#strings.listJoin(user.roles, ', ')}">
            <td><a th:href="${'/user/'+user.id}">edytuj</a></td>
        </tr>
        </tbody>
    </table>
</th:block>

<body th:include="~{index :: body('users')}" />
</html>