<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index :: head}"/>

<th:block th:if="${false}" th:fragment="content">
    <div>Edytuj</div>
    <form th:action="@{/user}" method="post">
        <input type="hidden" name="id" th:value="${cuser.id}"/>
        <input type="text"   name="username" th:value="${cuser.username}"/>
        <span th:each="role : ${roles}">
            <label th:text="${role}"/><input type="checkbox" th:name="${role}" th:checked="${cuser.roles.contains(role)}"/>
        </span>
        <button type="submit">Zatwierdź</button>
    </form>
</th:block>

<body th:include="~{index :: body('user-edit')}" />
</html>